<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Node.js Tutorial</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="~/tutorials">Tutorial</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Node.js</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->
<!--====== EVENTS PART START ======-->

<section id="event-singel" class="pt-40 pb-120 gray-bg">
    <div class="container">
        <div class="events-area">
            <div class="row">
                <div class="col-lg-8">
                    <div class="events-left">
                        <h3>Node.js Introduction</h3>
                        <span><i class="fa fa-calendar"></i> 19 July 2025</span>
                        <span><i class="fa fa-clock-o"></i> Time to read : 12 Minutes </span>

                        <img src="~/images/nodejsimg.webp" alt="Event">

                        <p>
                            NodeJS is a runtime environment for executing JavaScript outside the browser, built on the V8 JavaScript engine. It enables server-side development, supports asynchronous, event-driven programming, and efficiently handles scalable network applications.
                        <br/>
                            Node.js is an open-source, cross-platform JavaScript runtime environment that allows you to execute JavaScript code outside of a web browser, typically on the server-side. This capability transforms JavaScript from a client-side scripting language into a versatile tool for full-stack development.
                            <br />
                            At its core, Node.js leverages Google's powerful V8 JavaScript engine, the same engine that powers Google Chrome. This ensures high-performance execution of your JavaScript code.
                            <h3>Why use Node.js</h3>
                           
                            <div class="main-form pt-25">
                               
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="singel-form form-group has-error has-danger">
                                               <b>Feature </b>
                                                
                                            </div> <!-- singel form -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="singel-form form-group">
                                               <b>Description</b>
                                             
                                            </div> <!-- singel form -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="singel-form form-group">
                                            1. Runs JavaScript outside the browser
                                              
                                            </div> <!-- singel form -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="singel-form form-group">
                                            You can now build backend apps (like APIs or web servers).
                                            </div> <!-- singel form -->
                                        </div>
                                    <div class="col-md-6">
                                        <div class="singel-form form-group">
                                           2. Fast & Non-blocking

                                        </div> <!-- singel form -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="singel-form form-group">
                                            Node.js uses an event-driven model, meaning it handles multiple tasks at once without waiting.
                                        </div> <!-- singel form -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="singel-form form-group">
                                            3. Single Language Full-Stack

                                        </div> <!-- singel form -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="singel-form form-group">
                                            Use JavaScript for both frontend and backend development.
                                        </div> <!-- singel form -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="singel-form form-group">
                                            4. Huge Ecosystem

                                        </div> <!-- singel form -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="singel-form form-group">
                                            Comes with npm (Node Package Manager) which offers thousands of open-source libraries.
                                        </div> <!-- singel form -->
                                    </div>
                                    </div> <!-- row -->
                                
                            </div>
                            <h3>Key Components</h3>
                           <p>
                            <ol class="force-ordered-list">
                                <li><b>V8 Engine</b></li>
                                <ul class="force-unordered-list">
                                    <li>Same engine used by Chrome to run JavaScript.</li>
                                    </ul>

                           
                                <li>
                                    <b> Event Loop</b>
                                </li>

                                <ul class="force-unordered-list">
                                <li>
                                   Allows Node.js to handle multiple requests asynchronously (without blocking other operations).
                                </li></ul>
                                    
                                    <li><b>Modules</b></li>
                                <ul class="force-unordered-list">
                                    <li> Reusable chunks of code (like libraries or features) you can import and use.
                                        </li>
                                        </ul>

                          
                                   <li>
                                    <b>npm (Node Package Manager)</b>
                                </li>

                                <ul class="force-unordered-list">
                                    <li>
                                         Reusable  of code (like libraries or features) you can import and use.
                                    </li>
                                </ul>
                            </ol>
                            
                        </p>
                        
                        <h3>Summary</h3>
                        <ol class="force-ordered-list">
                            <li>
                            Node.js lets you run JavaScript on the server
                            </li>
                            <li>
                                It’s fast, lightweight, and great for building backend systems
                            </li>
                            <li>
                                Uses async programming for high performance
                            </li>
                            <li>
                                Ideal for students who already know JavaScript and want to build full-stack apps
                            </li>
                        </ol>

                    </div> <!-- events left -->
                </div>
                <div class="col-lg-4">
                    <div class="events-right">
                        <div class="events-coundwon bg_cover" data-overlay="8" style="background-image: url(images/event/singel-event/coundown.jpg)">
                            <div class="items-count"><h4>Want to learn in class</h4> </div>
                            <div class="events-coundwon-btn pt-30">
                                <a href="#" class="main-btn">Book Your Seat</a>
                            </div>
                        </div> <!-- events coundwon -->
                        <div class="events-address mt-30">

                            <amp-ad width="100vw" height="320"
                                    type="adsense"
                                    data-ad-client="ca-pub-1856935690070253"
                                    data-ad-slot="4297908394"
                                    data-auto-format="rspv"
                                    data-full-width="">
                                <div overflow=""></div>
                            </amp-ad>
                        </div> <!-- events address -->
                    </div> <!-- events right -->
                </div>
            </div> <!-- row -->
        </div> <!-- events-area -->
    </div> <!-- container -->
</section>

<!--====== EVENTS PART ENDS ======-->
