<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Node.js Tutorial</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Tutorial</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Node.js</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->
<!--====== EVENTS PART START ======-->

<section id="event-singel" class="pt-120 pb-120 gray-bg">
    <div class="container">
        <div class="events-area">
            <div class="row">
                <div class="col-lg-8">
                    <div class="events-left">
                        <h3>Node.js</h3>
                        <span><i class="fa fa-calendar"></i> 2 December 2018</span>
                        <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>

                        <img src="images/event/singel-event/se-1.jpg" alt="Event">
                        <h3>Index</h3>
                        <p>Prerequisites: <a href="../frontend/javascript">JavaScript </a> and basic knowledge of web development</p>
                         <p>   <ol>
                            <li>Introduction to Node.js</li> 
                            <ul>
                                <li><a href="nodejs/node-js-intro">Node.js Introduction</a></li>
                                    <li>
                                        <a href="nodejs/what-is-node-js"> What is Node.js</a>
                                    </li>
                                    <li>
                                        Why use Node.js
                                    </li>
                                    <li>Node.js vs Browser</li>
                                    <li>Node.js Architecture </li>
                                    <li>Running Node.js Code (CLI + IDE)</li>
                            </ul>
                            <li>
                                    Modules
                                </li>
                                <ul>
                                    <li>Intro to Modules + require()</li>
                                    <li>CommonJS (Exports, Imports)</li>
                                    <li>ESM Modules Syntax and Use </li>
                                    <li>Module Resolution and Scope </li>
                                    <li>Creating Custom Modules</li>
                                </ul>
                                <li>
                                    Package Managers
                                    <ul>
                                        <li>Introduction to npm</li>
                                        <li>Creating Packages with npm</li>
                                        <li>Installing External Packages</li>
                                        <li>Understanding package.json</li>
                                    </ul>
                                </li>
                                <li>Error Handling 
                                <ul>

                                        <li>Intro to Error Handling </li>
                                   
                                    <li>Uncaught Exceptions </li>
                                    <li>Handling Errors in Callbacks </li>
                                    <li>Handling Async/Await Errors </li>
                                    <li>Call Stack & Stack Trace </li>
                                    <li>
                                        Debugging with console & Node
                                        Inspect
                                    </li>
                                </ul>
                                <li>Starting Node.js Apps 
                                    <ul>
                                        <li>Understanding Async Programming </li>
                                        <li>Event Loop and Callbacks</li>
                                        <li>Promises and Chaining</li>
                                        <li>Async/Await Deep Dive</li>
                                        <li>Reading/Writing Files Sync & Async</li>
                                        <li>Reading/Writing Files Sync & Async</li>
                                        <li>
                                            CLI App Arguments using
                                            process.argv
                                        </li>
                                        <li>Building a CLI Project </li>
                                    </ul>
                                </li>
                                <li>
                                    Working with APIs
                                    <ul>
                                       
                                        <li>Working with APIs </li>
                                        <li>Designing Your Own API</li>
                                        <li>Handling API Responses</li>
                                        <li>Keeping App Running: PM2 Basics</li>
                                        <li>Nodemon & Dev Workflows </li>
                                    </ul>
                                </li>
                                <li>
                                    Templating Engines
                                    <ul>
                                        
                                        <li>Why Templating + Intro to EJS </li>
                                        <li>EJS Syntax and Placeholders</li>
                                        <li>EJS Loops, Conditionals</li>
                                        <li>Layouts and Partials in EJS </li>
                                    </ul>
                                </li>
                                <li>
                                    Express.js
                                    <ul>
                                       
                                        <li>Express.js Setup and Basic Route</li>
                                        <li>Route Parameters and Query Strings </li>
                                        <li>REST API Design (GET, POST) </li>
                                        <li>REST API (PUT, DELETE)</li>
                                        <li>Express Middleware – Concepts</li>
                                        <li>Custom Middleware + Usage </li>
                                        <li>Express Error Middleware </li>
                                        <li>EJS with Express</li>

                                    </ul>
                                </li>
                                <li>
                                    Express Security
                                    <ul>
                                        
                                        <li>Auth vs AuthZ Concepts </li>
                                        <li>Token Based Authentication (Overview) </li>
                                        <li>Protecting Routes </li>
                                    </ul>
                                </li>
                                <li>
                                    Express + DB
                                    <ul>
                                        
                                        <li>MongoDB Driver Intro</li>
                                        <li>Connecting MongoDB with Express.js</li>
                                    </ul>
                                </li>

                       </ol>
                        </p>
                    </div> <!-- events left -->
                </div>
                <div class="col-lg-4">
                    <div class="events-right">
                        <div class="events-coundwon bg_cover" data-overlay="8" style="background-image: url(images/event/singel-event/coundown.jpg)">
                            <div class="items-count"><h4>Want to learn in class</h4> </div>
                            <div class="events-coundwon-btn pt-30">
                                <a href="#" class="main-btn">Book Your Seat</a>
                            </div>
                        </div> <!-- events coundwon -->
                        <div class="events-address mt-30">
                            <ul>
                                <li>
                                    <div class="singel-address">
                                        <div class="icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div class="cont">
                                            <h6>Start Time</h6>
                                            <span>12:00 Am</span>
                                        </div>
                                    </div> <!-- singel address -->
                                </li>
                                <li>
                                    <div class="singel-address">
                                        <div class="icon">
                                            <i class="fa fa-bell-slash"></i>
                                        </div>
                                        <div class="cont">
                                            <h6>Finish Time</h6>
                                            <span>05:00 Am</span>
                                        </div>
                                    </div> <!-- singel address -->
                                </li>
                                <li>
                                    <div class="singel-address">
                                        <div class="icon">
                                            <i class="fa fa-map"></i>
                                        </div>
                                        <div class="cont">
                                            <h6>Address</h6>
                                            <span>Street Park ,America</span>
                                        </div>
                                    </div> <!-- singel address -->
                                </li>
                            </ul>
                            <div id="contact-map" class="mt-25"></div> <!-- Map -->
                        </div> <!-- events address -->
                    </div> <!-- events right -->
                </div>
            </div> <!-- row -->
        </div> <!-- events-area -->
    </div> <!-- container -->
</section>

<!--====== EVENTS PART ENDS ======-->
