@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>
<ul>
    <li><a asp-area="Admin" asp-controller="Post" asp-action="Index">Manage Posts</a></li>
    <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">Manage Categories</a></li>
    <li><a asp-area="Admin" asp-controller="Page" asp-action="Index">Manage Pages</a></li>
    <li><a asp-area="Admin" asp-controller="tutorials" asp-action="Index">Manage Tutorial</a></li>
</ul>
