@{
    ViewBag.Title = "Python";
}

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(../images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Learn Python Language</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Language</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Learn Python Language</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->
<!--====== COURSES SINGEl PART START ======-->

<section id="corses-singel" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="corses-singel-left mt-30">
                    <div class="title">
                        <h3>Learn funda of Python from Scratch - For Beginner to Advance</h3>
                    </div> <!-- title -->
                    <div class="course-terms">
                        <ul>
                            <li>
                                <div class="teacher-name">
                                    <div class="thum">
                                        <img src="~/images/course/teacher/t-1.jpg" alt="Teacher">
                                    </div>
                                    <div class="name">
                                        <span>Teacher</span>
                                        <h6>Ravinder Kumar</h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="course-category">
                                    <span>Category</span>
                                    <h6>Programming </h6>
                                </div>
                            </li>
                            <li>
                                <div class="review">
                                    <span>Review</span>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li class="rating">(1 Review)</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- course terms -->

                    <div class="corses-singel-image pt-50">
                       <img src="~/images/course/python_course.jpg" alt="Courses">
                    </div> <!-- corses singel image -->

                    <div class="corses-tab mt-30">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab" aria-controls="curriculam" aria-selected="false">Curriculum</a>
                            </li>
                            <li class="nav-item">
                                <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Demo Video</a>
                            </li>
                            <li class="nav-item">
                                <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                <div class="overview-description">
                                    <div class="singel-description pt-40">
                                        <h6>Course Summery</h6>
                                        <p>
                                            This structured, hands-on course takes you from the fundamentals of Python to advanced concepts, guiding you step by step as you build real-world applications.<br>
 Python is a powerful and widely-used language across web development, data science, machine learning, automation, and more.<br /> By the end of the course, you'll be equipped with the practical skills and confidence needed to tackle real coding projects and launch your career in technology.
                                    </div>
                                    <div class="singel-description pt-40">
                                        <h6>Requirements</h6>
                                        <ul style="list-style: circle;">
                                            <li>Basics of Computers</li>
                                            <li>
                                                Knowledge of any Text Editor on which you can write code
                                            </li>

                                            <li>The only prerequisite is the ability to handle very basic operations of a computer although no prior experience in programming is required.</li>
                                            <li>A Python compiler and code editor (both are available free)</li>
                                        </ul>
                                    </div>

                                    <div class="singel-description pt-40">
                                        <h6> Who this course is for:</h6>
                                        <ul style="list-style: circle;">
                                            <li>Students</li>
                                            <li>New Developers</li>
                                            <li>Students who have no prior knowledge of programming and want to begin from the scratch.</li>
                                            <li>This course is designed for beginner to advanced level of students.</li>
                                        </ul>
                                    </div>




                                    <div class="singel-description pt-40">
                                        <h6>Take Away</h6>
                                        <ul style="list-style: circle;">
                                            <li>Learn about core programming concepts of Python</li>
                                            <li>Deploy and run their own real time applications</li>
                                          

                                        </ul>

                                    </div>
                                </div> <!-- overview description -->
                            </div>
                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                <div class="curriculam-cont">
                                    <div class="title">
                                        <h6>Basic</h6>
                                    </div>
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.1</span></li>
                                                        <li><span class="head">Introduction to Python </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 01.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python HOME: Overview of Python and its uses.<br>
                                                        •	Python Intro: Introduction to Python programming.<br>
                                                        •	Python Get Started: How to install Python and set up the environment.<br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingTow">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseTow" aria-expanded="true" aria-controls="collapseTow">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.2</span></li>
                                                        <li><span class="head">Python Basics</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 02.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseTow" class="collapse" aria-labelledby="headingTow" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python Syntax: Basic syntax and structure.<br>
                                                        •	Python Comments: How to use comments in Python code.<br>
                                                        •	Python Variables: Understanding variables and data storage.<br>
                                                        •	Python Data Types: Overview of data types (integers, floats, etc.).<br>
                                                        •	Python Numbers: Working with numerical data.<br>
                                                        •	Python Casting: Converting between data types.<br>
                                                        •	Python Strings: String operations and methods.<br>
                                                        •	Python Booleans: Boolean data type and its usage.<br>
                                                        •	Python Operators: Arithmetic, comparison, and logical operators.<br>
                                                        •	Python String Formatting: Formatting strings for output.<br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.3</span></li>
                                                        <li><span class="head">Data Structures </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 02.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python Lists: Working with lists.<br />
                                                        •	Python Tuples: Understanding tuples.<br />
                                                        •	Python Sets: Using sets for collections.<br />
                                                        •	Python Dictionaries: Key-value pairs in dictionaries.<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingFore">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseFore" aria-expanded="false" aria-controls="collapseFore">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.4</span></li>
                                                        <li><span class="head">Control Flow </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 01.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseFore" class="collapse" aria-labelledby="headingFore" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python If...Else: Conditional statements.<br />
                                                        •	Python While Loops: Looping with while.<br />
                                                        •	Python For Loops: Looping with for.<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingFive">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.5</span></li>
                                                        <li><span class="head">Functions and Functional Programming</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 01.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python Functions: Defining and using functions.<br>
                                                        •	Python Lambda: Anonymous functions (lambdas).<br>
                                                        •	Python Scope: Understanding variable scope.<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingSix">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.6</span></li>
                                                        <li><span class="head">Object-Oriented Programming </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 03.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python Classes/Objects: Basics of classes and objects.<br />
                                                        •	Python Inheritance: Inheriting properties from other classes.<br />
                                                        •	Python Polymorphism: Method overriding and polymorphism.<br />
                                                        •	Python Encapsulation: Data hiding in classes.<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingSeven">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.7</span></li>
                                                        <li><span class="head">Advanced Topics </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 02.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python Iterators: Iterating through data.<br />
                                                        •	Python Modules: Importing and using modules.<br />
                                                        •	Python PIP: Managing Python packages with pip.<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingEight">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.8</span></li>
                                                        <li><span class="head">Modules </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 01.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>
                                                        •	Creating modules<br />
                                                        •	Importing functions from a different module<br />
                                                        •	Importing variables from different modules<br />
                                                        •	Python built-in modules<br />

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="title">
                                        <h6>Advance</h6>
                                    </div>
                                    <div class="accordion" id="accordionExample_Adv">
                                        <div class="card">
                                            <div class="card-header" id="headingOne_Adv">
                                                <a href="#" data-toggle="collapse" data-target="#collapseOne_adv" aria-expanded="true" aria-controls="collapseOne_adv">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.1</span></li>
                                                        <li><span class="head">Error Handling and User Input  </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 01.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseOne_adv" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample_Adv">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python Try...Except: Handling exceptions.<br />
                                                        •	Python User Input: Taking input from users.<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingTow_Adv">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseTow_adv" aria-expanded="true" aria-controls="collapseTow_adv">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.2</span></li>
                                                        <li><span class="head">File Handling </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 01.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseTow_adv" class="collapse" aria-labelledby="headingTow_Adv" data-parent="#accordionExample_Adv">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python File Handling: Overview of file operations.<br>
                                                        •	Python Read Files: Reading data from files.<br />
                                                        •	Python Write/Create Files: Writing and creating files.<br />
                                                        •	Python Delete Files: Deleting files.<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="card">
                                            <div class="card-header" id="headingThree_Adv">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseThree_adv" aria-expanded="false" aria-controls="collapseThree_adv">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.3</span></li>
                                                        <li><span class="head">Working with Data </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 02.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseThree_adv" class="collapse" aria-labelledby="headingThree_Adv" data-parent="#accordionExample_Adv">
                                                <div class="card-body">
                                                    <p>
                                                        •	Python Dates: Working with date and time.<br />
                                                        •	Python JSON: Handling JSON data.<br />
                                                        •	Python RegEx: Regular expressions for pattern matching.<br>
                                                        •	Python Math: Mathematical functions and operations.<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingfour_Adv">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapsefour_adv" aria-expanded="true" aria-controls="collapseTow_adv">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.4</span></li>
                                                        <li><span class="head">Python Multithreaded Programming </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 02.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapsefour_adv" class="collapse" aria-labelledby="headingfour_Adv" data-parent="#accordionExample_Adv">
                                                <div class="card-body">
                                                    <p>
                                                        •	What is multithreading?<br />
                                                        •	Starting a New Thread<br>
                                                        •	The Threading Module<br />
                                                        •	Synchronizing Threads<br />
                                                        •	Multithreaded Priority Queue<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingfive_Adv">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapsefive_adv" aria-expanded="true" aria-controls="collapseTow_adv">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.5</span></li>
                                                        <li><span class="head">Working with Databases </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 03.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapsefive_adv" class="collapse" aria-labelledby="headingfive_Adv" data-parent="#accordionExample_Adv">
                                                <div class="card-body">
                                                    <p>
                                                       
                                                        •	Python MySQL: Introduction to MySQL.<br />
                                                        <br />
                                                        o	MySQL Get Started<br />
                                                        o	MySQL Create Database<br />
                                                        o	MySQL Create Table<br />
                                                        o	MySQL Insert<br />
                                                        o	MySQL Select<br />
                                                        o	MySQL Where<br />
                                                        o	MySQL Order By<br />
                                                        o	MySQL Delete<br />
                                                        o	MySQL Drop Table<br />
                                                        o	MySQL Update<br />
                                                        o	MySQL Limit<br />
                                                        o	MySQL Join<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingsix_Adv">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapsesix_adv" aria-expanded="true" aria-controls="collapseTow_adv">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.6</span></li>
                                                        <li><span class="head">Mini Project </span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 02.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapsesix_adv" class="collapse" aria-labelledby="headingsix_Adv" data-parent="#accordionExample_Adv">
                                                <div class="card-body">
                                                    <p>

                                                        •	Rock, Paper, Scissors <br />
                                                        o	User vs Computer<br />
                                                        o	Use random choice for computer move<br />
                                                        o	Keep and show score<br />

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>





                                </div> <!-- curriculam cont -->
                            </div>
                            <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                <div class="instructor-cont">
                                    <div class="instructor-author">
                                        <div class="author-thum">
                                            <h6>Session in Hindi Language</h6>
                                            <video width="640" height="360" controls autoplay muted loop poster="preview.jpg">
                                                <source src="https://vz-3ad30922-ba4.b-cdn.net/4a78e42c-872b-4733-b30b-b9c31bbec94f/play_480p.mp4" type="video/mp4">
                                            </video><br /><br />
                                           <h6>Session in English Language</h6>
                                            <video width="640" height="360" controls autoplay muted loop poster="preview.jpg">
                                                <source src="https://vz-3ad30922-ba4.b-cdn.net/cc9365fe-add2-4a03-a4d6-d06d47108981/play_480p.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="author-name">
                                            <a href="#"><h5></h5></a>
                                            <span></span>

                                        </div>
                                    </div>
                                    <div class="instructor-description pt-25">
                                        <p></p>
                                    </div>
                                </div> <!-- instructor cont -->
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews-cont">
                                    <div class="title">
                                        <h6>Student Reviews</h6>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-1.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Jivansh</h6>
                                                        <span>Sep 15, 2024</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>
                                                        "Great teacher very humble My kid really enjoyed the class One of the best teacher in tricity Awesome "
                                                    </p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                        <li>
                                            <!--    <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-2.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Humayun Ahmed</h6>
                                                        <span>April 13, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> singel reviews -->
                                        </li>
                                        <li>
                                            <!--  <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-3.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Tania Aktar</h6>
                                                        <span>April 20, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div>  singel reviews -->
                                        </li>
                                    </ul>
                                    <div class="title pt-15">
                                        <h6>Leave A Comment</h6>
                                    </div>
                                    <div class="reviews-form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Fast name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Last Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <div class="rate-wrapper">
                                                            <div class="rate-label">Your Rating:</div>
                                                            <div class="rate">
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <textarea placeholder="Comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <button type="button" class="main-btn">Post Comment</button>
                                                    </div>
                                                </div>
                                            </div> <!-- row -->
                                        </form>
                                    </div>
                                </div> <!-- reviews cont -->
                            </div>
                        </div> <!-- tab content -->
                    </div>
                </div> <!-- corses singel left -->

            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="course-features mt-30">
                            <h4>Course Features </h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>Duration  : <span>10 Hours</span></li>
                                <li><i class="fa fa-clone"></i>Lectures  : <span>13</span></li>
                                <li><i class="fa fa-beer"></i>Quizzes :  <span>05</span></li>
                                <!--<li><i class="fa fa-user-o"></i>Students :  <span>100</span></li>-->
                            </ul>
                            <div class="price-button pt-10">
                                <span>Price : <b>&#8377;4500</b></span>
                                <a href="#" class="main-btn" data-toggle="modal" data-id="123" data-target="#formModal" id="loadFormBtn">Enroll Now</a>


<!-- Modal -->
                                <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Form in Modal</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="modal-body-content">
                                                <!-- Form will be loaded here -->
                                                Loading...
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div> <!-- course features -->
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="You-makelike mt-30">
                            <h4>You make like </h4>
                            <div class="singel-makelike mt-20">
                                <div class="image">
                                    <img src="~/images/your-make/y-1.jpg" alt="Image">
                                </div>
                                <div class="cont">
                                    <a href="#"><h4>Introduction to machine languages</h4></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>31</a></li>
                                        <li>$50</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="singel-makelike mt-20">
                                <div class="image">
                                    <img src="~/images/your-make/y-1.jpg" alt="Image">
                                </div>
                                <div class="cont">
                                    <a href="#"><h4>How to build a basis game with java </h4></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>31</a></li>
                                        <li>$50</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="singel-makelike mt-20">
                                <div class="image">
                                    <img src="~/images/your-make/y-1.jpg" alt="Image">
                                </div>
                                <div class="cont">
                                    <a href="#"><h4>Basic accounting from primary</h4></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>31</a></li>
                                        <li>$50</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-lg-8">
                <div class="releted-courses pt-95">
                    <div class="title">
                        <h3>Related Courses</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="~/images/course/cu-2.jpg" alt="Course">
                                    </div>
                                    <div class="price">
                                        <span>Free</span>
                                    </div>
                                </div>
                                <div class="cont">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span>(20 Reviews)</span>


                                    <a href="cpp"><h4>Learn C++  &nbsp;&nbsp;&nbsp;&nbsp;         </h4></a>
                                    <div class="course-teacher">
                                        <div class="thum">
                                            <a href="#"><img src="~/images/course/teacher/t-2.jpg" alt="teacher"></a>
                                        </div>
                                        <div class="name">
                                            <a href="#"><h6>Mark anthem</h6></a>
                                        </div>
                                        <div class="admin">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                                <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- singel course -->
                        </div>
                        <div class="col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="~/images/course/cu-1.jpg" alt="Course">
                                    </div>
                                    <div class="price">
                                        <span>Free</span>
                                    </div>
                                </div>
                                <div class="cont">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span>(20 Reviews)</span>
                                    <a href="csharp"><h4>Learn C# &nbsp;&nbsp;&nbsp;&nbsp;</h4></a>
                                    <div class="course-teacher">
                                        <div class="thum">
                                            <a href="#"><img src="~/images/course/teacher/t-3.jpg" alt="teacher"></a>
                                        </div>
                                        <div class="name">
                                            <a href="#"><h6>Mark anthem</h6></a>
                                        </div>
                                        <div class="admin">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                                <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- singel course -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- releted courses -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>


<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            $('#loadFormBtn').on('click', function () {
                // Load form from another view
            $('#modal-body-content').load('../home/loadenrollform');
            });

            // Optional: handle modal form submission via delegation
            $(document).on('submit', '#modal-form', function (e) {
             e.preventDefault();
              debugger;
                var $form = $(this);
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                data: $form.serialize(),
                    success: function (result) {
                        $('#modal-body-content').html(result); // show result (e.g., success message)
                    },
                    error: function () {
                        $('#modal-body-content').html('<p class="text-danger">An error occurred.</p>');
                    }
                });
            });
        });
    </script>



